#Practical question's

1. What are data structures, and why are they important ?
  - Data structures are ways of organizing and storing data in a computer so it can be used easily and efficiently. They are important because they help programs run faster, save memory, and make it easier to work with large amounts of information. Choosing the right data structure makes problem-solving simpler and ensures the program performs well.

2.  Explain the difference between mutable and immutable data types with examples ?
  - Mutable Data Types :
  In theory, when a mutable object is created, it occupies a specific location in memory. You can modify its content without changing its memory address. `*For example*`, a Python list is a mutable data type. If you have a list [1, 2, 3] and you append a new item, the list object itself is modified in place; you don't create a new list. This makes mutable types efficient for operations that involve frequent additions, deletions, or changes.
  - Immutable Data Types :
   Immutable objects are the opposite. Once they are created, their state is fixed. If you perform an operation that seems to change an immutable object, you're actually creating an entirely new object in a new memory location. `For example`, a Python string is immutable. When you "change" a string like 'Hello' to 'Hello World', Python doesn't modify the original string; it creates a brand new string object with the new value. This property ensures data integrity and is useful for objects that should remain constant.

3. What are the main differences between lists and tuples in Python ?
  - In Python, lists and tuples are both used to store collections of items, but they differ in a few key ways. Lists are mutable, which means their elements can be changed, added, or removed, while tuples are immutable, so their elements cannot be changed once created. Lists are defined using square brackets [ ], whereas tuples use parentheses ( ).

4. Describe how dictionaries store data ?
  - In Python, a dictionary stores data as pairs of keys and values. Each key is like a unique label, and the value is the data linked to that label. For example, in a student record, the key could be "name" and the value could be "Ruben". Inside, Python uses a process called hashing, which quickly finds where to keep each key–value pair in memory. This makes searching, adding, or changing data in a dictionary very fast. Unlike lists that use numbers as positions, dictionaries use keys, so you can directly access the value using its key instead of counting through elements.

5.  Why might you use a set instead of a list in Python ?
  - You might use a ***set*** instead of a *list* in Python when you want to store items ***without duplicates*** and don’t care about the order of elements. Sets automatically remove duplicate values, while lists allow them. Also, checking if an item exists in a set is much faster than in a list because sets use hashing, while lists check each element one by one. So, if you need unique items and quick membership tests, a set is better than a list.

6. What is a string in Python, and how is it different from a list ?
  - In Python, a string is a sequence of characters enclosed in quotes (' ' or " "), like "Hello". It is used to store and work with text. A list, on the other hand, is a collection that can hold different types of items such as numbers, strings, or even other lists, and it is written inside square brackets [ ]. The key difference is that strings are immutable, meaning you cannot change individual characters directly, while lists are mutable, so you can add, remove, or modify elements.

7. How do tuples ensure data integrity in Python ?
  - Tuples ensure data integrity in Python because they are unchangeable. Once you create a tuple, you cannot add, remove, or modify its elements. This protects the data from being accidentally changed during the program, which helps keep the information safe and consistent.

8. What is a hash table, and how does it relate to dictionaries in Python ?
  - A hash table is a data structure that stores data using key–value pairs and uses a hash function to quickly find the location of each key in memory. In Python, dictionaries are implemented using hash tables. When you add a key and its value to a dictionary, Python calculates a hash for the key to determine where to store the value. This allows dictionaries to access, add, or update data very quickly, making them efficient for tasks that need fast lookups.

9. Can lists contain different data types in Python ?
  - Yes, in Python, lists can contain different data types. A single list can hold numbers, strings, booleans, other lists, or even tuples and dictionaries all together.
  `For example:` my_list = [10, "Hello", 3.14, True, [1, 2, 3]]

10. Explain why strings are immutable in Python ?
  - Strings are immutable in Python because once a string is created, its contents cannot be changed. This design makes strings safe, consistent, and efficient. Immutability allows Python to store strings in memory more efficiently, reuse them without creating duplicates, and avoid accidental changes to text data.

11. What advantages do dictionaries offer over lists for certain tasks ?
  - Dictionaries offer advantages over lists when you need to store and access data using meaningful keys instead of numeric positions. They allow fast lookups, additions, and updates because of their key–value structure and hashing, while lists may require searching through elements one by one. This makes dictionaries ideal for tasks like storing student records, phone books, or configuration settings, where you want to quickly find data by a unique identifier rather than by its order.

12. Describe a scenario where using a tuple would be preferable over a list ?
  - A tuple would be preferable over a list when you need to store data that should not change throughout the program.` For example`, if you are storing the coordinates of a location, like (latitude, longitude), or the days of the week, these values are fixed and should remain constant. Using a tuple ensures the data cannot be accidentally modified, making the program more reliable and safe.

13. How do sets handle duplicate values in Python ?
  - In Python, a set automatically removes duplicate values and only keeps unique elements. If you try to add a value that already exists in the set, Python ignores it. This makes sets useful when you want to store data without duplicates, like keeping a list of unique names, IDs, or numbers, without having to manually check for repeats.

14.  How does the “in” keyword work differently for lists and dictionaries ?
  - the in keyword checks for membership, but it works differently for lists and dictionaries. For a list, in checks if a value exists anywhere in the list. `For example`, 5 in [1, 2, 5] returns True. For a dictionary, in only checks the keys, not the values. So if you have {"name": "Ruben"}, "name" in dictionary is True, but "Ruben" in dictionary is False.

15. Can you modify the elements of a tuple? Explain why or why not ?
  - No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its values cannot be changed, added, or removed. This immutability ensures that the data stays constant and cannot be accidentally altered, which is useful when you need reliable, unchangeable collections like coordinates, dates, or fixed configuration values.

16. What is a nested dictionary, and give an example of its use case ?
  - A nested dictionary is a dictionary that contains another dictionary as its value. It allows you to organize complex or related data in a structured way. For example, you can use a nested dictionary to store student information, where each student ID maps to another dictionary containing the student’s name, age, and grade. This is useful for managing data with multiple attributes for each key in an organized and easily accessible manner.

17. Describe the time complexity of accessing elements in a dictionary ?
  - In Python, accessing elements in a dictionary is very fast because dictionaries use a hash table internally. When you use a key to get a value, Python calculates the key’s hash to directly find where the value is stored in memory. This means that looking up, adding, or updating an element usually takes constant time, written as O(1), regardless of how many items are in the dictionary. This makes dictionaries much faster than lists for searching data by key.

18. In what situations are lists preferred over dictionaries ?
  - Lists are preferred over dictionaries when you need to store items in a specific order or when the data will be accessed by position rather than by a key. They are useful for tasks like keeping a sequence of numbers, names, or steps in a process, where order matters or duplicates are allowed. Lists are simpler to use than dictionaries when you don’t need key–value pairs and just want a collection of items to loop through or modify.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
  - Dictionaries are considered unordered because the items are not stored in a specific sequence like in a list. Instead, they are stored based on the hash of their keys. This means you cannot rely on the order of items when retrieving them. However, data retrieval using a key is still very fast because Python can directly find the value through the key’s hash, so the lack of order does not affect accessing data efficiently.

20. Explain the difference between a list and a dictionary in terms of data retrieval ?
  - The main difference between a list and a dictionary in data retrieval is how you access the items. In a list, you retrieve data by its position (index), which may require searching through elements if you don’t know the index. In a dictionary, you retrieve data using a key, which allows Python to find the value directly using a hash, making lookups much faster. So, dictionaries are better for quick access by identifier, while lists are suited for ordered collections.

# Practical Question's

In [2]:
# 1. Create a string with your name and print it
name = "Ruben"
print(name)

Ruben

In [3]:
# 2. Find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [4]:
# 3. Slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
# 4. Convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [6]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
line = "I like apple"
print(line.replace("apple", "orange"))

I like orange

In [7]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [10]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [11]:
# 10. Reverse the list [10, 20, 30, 40, 50]
lst3 = [10, 20, 30, 40, 50]
lst3.reverse()
print(lst3)

[50, 40, 30, 20, 10]

In [12]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
t1 = (100, 200, 300)
print(t1)

(100, 200, 300)

In [13]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
# 14. Find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [16]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

False

In [17]:
# 16. Create a set with the elements {a, b, c} and print it
s1 = {'a', 'b', 'c'}
print(s1)

{'a', 'c', 'b'}

In [18]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [19]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s3 = {1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [20]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [21]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [22]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "Alice", "age": 25, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [23]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {"name": "John", "age": 25}
person2 = {"name": "John", "age": 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Access the value associated with the key "name" in the dictionary {"name": "Alice", "age": 30}
person3 = {"name": "Alice", "age": 30}
print(person3["name"])

Alice

In [25]:
# 24. Remove the key "age" from the dictionary {"name": "Bob", "age": 22, "city": "New York"}
person4 = {"name": "Bob", "age": 22, "city": "New York"}
person4.pop("age")
print(person4)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Check if the key "city" exists in the dictionary {"name": "Alice", "city": "Paris"}
person5 = {"name": "Alice", "city": "Paris"}
print("city" in person5)

True

In [27]:
# 26. Create a list, a tuple, and a dictionary, and print them all
lst = [1, 2, 3]
tpl = (4, 5, 6)
dic = {"a": 1, "b": 2}
print(lst, tpl, dic)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [28]:

# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
list = random.sample(range(1, 101), 5)
list.sort()
print(list)

[3, 44, 45, 46, 49]

In [29]:
# 28. Create a list with strings and print the element at the third index
str_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(str_list[3])

date

In [30]:
# 29. Combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Convert a list of strings into a set
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry'}